@tailwind base;
@tailwind components;
@tailwind utilities;

.parent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.child{
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.5);
}